*::-moz-selection {
    color: #FFF;
    text-shadow: none;
    background: none repeat scroll 0% 0% #428BCA;;
}
@media screen and (max-height: 1080px) {
    #body{
        height: 1920px;
    }
}
@media screen and (max-height: 720px) {
    #body{
        height:720px;
    }
}
#page-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 500px;
}
    #page-container #page-row {
        width: 100%;
        margin: 0;
    }

#main-content {
    width: 100%;
    margin:0;
    padding:0;
    min-width:0
}

.width-controler {
    max-width:75%;
    margin-left:12.5%;
    margin-right:12.5%;
    padding:0;
    min-width:0
}

#main-content,
#header_content,
.width-controler  {
    width: 100%;
    padding:0;
    margin:0 auto
}
#main-footer,
.push {
    height:120px;/*should be different for other media*/
    clear:both;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}

.footer{
	color: #fff;
	font-size: 12px;
    padding: 40px 0;
}

/* Social buttons */

.socialButtons img{
    outline: 0;
	width: 36px;
}

.socialButtons a{
	display: inline-block;
	opacity: 0.6;
    background: white;
    border-radius: 100%;
    float: right;
    margin: 0 10px 0 0;
    outline: 0;
    transition: all 200ms ease-in-out;
}

.socialButtons a:hover{
	opacity: 1;
}

#footerLogoText::selection{
    background: none;
}

footer {
    color: #FFF;
    background: #58B;
}


.push {
    display: none;
}

body {
    position:relative;
    line-height: 1.25;
    font-size:86%;
    margin:0 auto;
    font-family:'AvenirLTStd-Roman',sans-serif;
    color:#3a444b;
    -webkit-font-smoothing:antialiased
}

html,
body {
    
    font-size: 12px;
}

#header-wrapper {
    height: 120px;
}

#main-header {
    display:block;
    position:relative;
    top:0;
    width:100%;
    z-index: 20;
    background: #58B;
    box-shadow:0 3px 3px 0 rgba(1, 1, 1, 0.1);
}

#header_content {
    height: 100%;
    padding-left:10%;
    padding-right:7%;
    min-width:0;
    overflow:hidden;
    position: relative;
}

#header-wrapper,
.max-width {
    max-width:1920px;
    margin:0 auto
}

#logo_wrapper {
    max-width:200px;
    padding: 20px 0 0 25px;
    float:left;
    height:auto;
}

#logo-wrapper-link:hover #logo-text {
    color: #DDF;
    border-left: 1px #DDF solid;
    transition:all 500ms ease-in-out
}

#logo-text{
    border-left: 1px #BAD4FF solid;
    color:#BAD4FF;
    cursor: pointer;
    float:left;
    font-family: "Lucida Console", Monaco, monospace;//"Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    height: 77px;
    margin: 20px 0 19px 0px;
    padding: 12px 0 15px 15px; 
    width: auto;
    transition:all 500ms ease-in-out
}
.js-scroll #logo-text{
    display: none
}
#main-nav {
    float: right;
    font-family: 'AvenirLTStd-Roman', sans-serif;
    font-size: 12px;
    padding: 45px 0 0 0;
    width: auto;
}

#main-nav .nav_item {
    box-sizing: border-box;
    display:block;
    float:left;
    margin:0 10px;
    text-align:center;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box
}

.nav_item_link {
    border: none;
    color: #BAD4FF;
    display: block;
    font-size: 1.154em;
    height: auto;
    letter-spacing: 1px;
    line-height: 2.133em;
    outline: none;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.nav_item_span {
    background:url(../imgs/banner/line.gif) no-repeat -500px 0 transparent;
    display: block;
    height: 33px;
    margin-top:-1px;
    -webkit-transition:background 400ms ease-in-out;
    -moz-transition:background 400ms ease-in-out;
    -ms-transition:background 400ms ease-in-out;
    -o-transition:background 400ms ease-in-out;
    transition:background 400ms ease-in-out
}

.nav_item_link:hover,
.nav_item_link:active,
.nav_item_link:focus,
.nav_link_active {
    color: #FFF;
    outline: none;
    text-decoration: none;
}

.nav_item_link:hover .nav_item_span,
.nav_item_link:active .nav_item_span,
.nav_item_link:focus .nav_item_span,
.nav_link_active .nav_item_span {
    background-position: 0 0
}

#main-header {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100m linear;
}

.js-scroll #header-wrapper {
    height: 70px;
}

.js-scroll div.push {
    display: block;
}

.js-scroll #main-header {
    background: #FFF;
    position:fixed;
}

.js-scroll #main-nav {
    padding: 20px 0 0 0;
}

.js-scroll .nav_item_link {
    color: #444;
}

.js-scroll #logo {
    width: 50px;
    transition: all 10ms ease 100ms;
}



.about-container {
}
    .about-container h3 {
        color: #47a3da;
        font-size: 5em;
        font-weight: 300;
        letter-spacing: 0.03em;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: relative;
        text-transform: uppercase;
    }

    .about-container > nav {
        z-index: 5;
        right: 6%;
        width: 26px;
    }

        .about-container > nav a {
            display: block;
            position: relative;
            z-index: 10;
            color: transparent;
            width: 26px;
            height: 26px;
            outline: none;
            margin: 25px 0;
            border-radius: 50%;
            border: 4px solid #bcf;
        }
            .about-container > nav a {
                display: block;
            }

            .about-container > nav a:hover {
                background: rgba(200,225,240,0.6);
            }

            .about-container > nav a.active {
                background: #bcf;
            }

        .about-container .content {
            margin: 0 12%;
        }

        .about-container section.light {
            background-color: #FFF;
        }
            .about-container section.light h3 {
                color: #69A;
                padding-bottom: 8px;
                text-align: right;
            }
        
        .about-container section.dark {
            background-color: #69A;
            color: #FFF;
        }
            .about-container section.dark h3 {
                color: #FFF;
            }
        
        
        .about-container section {
            background-attachment: fixed;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 630px;
            padding-top: 24px;
            position: relative;
        }

        .about-container .content > div.actual {
            font-size: 16px;
            line-height: 2;
            margin: 0px;
            padding: 3px 6px 0px 2px;
            text-align: justify;
        }

.about-container > nav.fixed-bottom {
    position: absolute;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -ms-transform: translateY(-145%);
    transform: translateY(-145%);   
}

.about-container > nav.unfixed {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);   
}

.about-container section .sections {
    display: none;
}

.about-container section {
}
    .about-container section nav {
        bottom: 0;
        height: 3.313em;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 70%;
    }
        .about-container section nav > a {
            display: block;
            float: left;
            font-weight: 400;
            height: 100%;
            letter-spacing: 0.1em;
            line-height: 3;
            outline: none;
            overflow: hidden;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
            -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        }

        #about-story-section nav a {
            width: 24%;
            margin: 0 0.5%;
        }

        #about-ministries-section nav a {
            width: 32%;
            margin: 0 0.5%;
        }

        #about-leadership-section nav a {
            width: 48%;
            margin: 0 0.5%;
        }

        #about-missions-section nav a {
            width: 32%;
            margin: 0 0.5%;
        }

        .about-container section nav a span {
            display: block;
        }
        
        .about-container section.dark nav > a {
            color: #FFF;
        }

            .about-container section.dark nav a:hover,
            .about-container section.dark nav a.active {
                background-color: #FFF;
                color: #69A;
            }

        .about-container section.light nav > a {
            color: #69A;
        }

            .about-container section.light nav a:hover,
            .about-container section.light nav a.active {
                background-color: #69A;
                color: #FFF;
            }


    .about-container section h4 {
    }

    .about-container section > .content > div.actual {
        height: 460px;
        max-height: 460px;
        margin-bottom: 15px;
        overflow-y: auto;
    }
    .about-container section > .content > div.actual > img.actual-image {
        max-width:40%;
        float: left;
        margin: 10px; 
        border-radius: 5px 50px;
        box-shadow: -10px 10px 2px rgba(1, 1, 1, 0.1);
        overflow-y: auto;
    }

    a.link {
        padding: 40px;
        width: 100%;
    }

    a.dark {
    }

    a.light {
    }

.leader-profile {
    margin: 0 0 15em;
    padding: 0;
}

    .leader-profile:before,
    .leader-profile:after {
        content: " ";
        display: table;
    }

    .leader-profile:after {
        clear: both;
    }

    .leader-profile img,
    .leader-profile h4,
    .leader-profile h5, 
    .leader-profile p {
        margin: 0;
        padding: 0 4%;
        overflow: hidden;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        -moz-transition: -moz-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
    }

        .leader-profile img:before, .leader-profile img:after,
        .leader-profile h4:before, .leader-profile h4:after,
        .leader-profile h5:before, .leader-profile h5:after,
        .leader-profile p:before, .leader-profile p:after {
            content: " ";
            display: table;
        }

        .leader-profile img:after,
        .leader-profile h4:after,
        .leader-profile h5:after,
        .leader-profile p:after {
            clear: both;
        }

        .leader-profile h4,
        .leader-profile h5, 
        .leader-profile p {
            width: 65%;
        }

        .leader-profile img {
            width: 35%;
        }

        .leader-profile.left img {
            float: left;
        }

        .leader-profile.right img {
            float: right;
        }

        .leader-profile.left h4,
        .leader-profile.left h5 {
            float: right;
            text-align: left;
        }

        .leader-profile.left p {
            float: right;
            text-align: justify-left;
        }

        .leader-profile.right h4,
        .leader-profile.right h5 {
            float: left;
            text-align: right;
        }

        .leader-profile.right p {
            float: left;
            text-align: justify-right;
        } 

        .leader-profile h4 {
            font-size: 30px;
            padding-top: 1em;
            padding-bottom: 0.5em;
        }

        .leader-profile h5 {
            font-size: 20px;
            padding-bottom: 0.5em;
        }

        .leader-profile p {
        }

/*  HOME PAGE */
#home-content {
    background-color: #346;
}

#content-links {
    width: 96%;
    margin: 3% 2% 0 4%;
    padding: 40px 0 0 0;
}

    #content-links figure {
        background: #3085a3;
        cursor: pointer;
        display: inline-block;
        height: 240px;
        margin: 0 1.5% 1.5% 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 47%;
    }

        #content-links figure:last-child {
            margin-right: 0;
        }

    #content-links figure img {
        position: relative;
        display: block;
        height: auto;
        width: 100%;
        opacity: 0.8;
    }

    #content-links figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #content-links figure figcaption::before,
    #content-links figure figcaption::after {
        pointer-events: none;
    }

    #content-links figure figcaption,
    #content-links figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    #content-links figure figcaption > a {
        z-index: 10;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    #content-links figure h2 {
        font-weight: 400;
        padding-left: 100px;
        word-spacing: -0.15em;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    }

    #content-links figure h2 span {
        font-weight: 800;
    }

    #content-links figure h2,
    #content-links figure p {
        margin: 0;
    }

    #content-links figure p {
        letter-spacing: 1px;
        font-size: 68.5%;
    }

    #content-links figure {
        background: #2f3238;
    }

    #content-links figure img {
        max-width: none;
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    #content-links figure figcaption {
        text-align: left;
    }

    #content-links figure h2 {
        position: relative;
        padding: 0.5em 0;
    }

    #content-links figure h2 {
    }


    #content-links figure p {
        display: inline-block;
        margin: 0 0 0.40em;
        position: relative;
        z-index: 15;
        padding: 0.4em 1em;
        background: rgba(255,255,255,0.9);
        color: #2f3238;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 84%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-360px,0,0);
        transform: translate3d(-360px,0,0);
    }

        #content-links figure p a {
            outline: none;
            color: inherit;
            text-decoration: none;
        }

    #content-links figure p:first-child {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    #content-links figure p:nth-of-type(2) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    #content-links figure p:nth-of-type(3) {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    #content-links figure:hover p:first-child {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    #content-links figure:hover p:nth-of-type(2) {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    #content-links figure:hover p:nth-of-type(3) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    #content-links figure:hover img {
        opacity: 0.4;
        -webkit-transform: scale3d(1.1,1.1,1);
        transform: scale3d(1.1,1.1,1);
    }

    #content-links figure:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

/*Modals*/
.modal, .modal-dialog {
    z-index: 20000;
}
#news-stream {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px 0px 0px 0px;
    background: #FFF;
}
    
#news-items {
    width: 92%;
    margin: 0 auto;
    padding: 10px 0;
}
    #news-items .item {
        background: rgba(0, 0, 0, 0.07);
        color: inherit;
        display: inline-block;
        height: 150px;/*make responsive*/
        margin: 0 1.65% 0 0;
        outline: none;
        padding: 30px 0;
        text-decoration: none;
        vertical-align: middle;
        width: 23%;
        -webkit-transition:background 200ms ease-in-out;
        -moz-transition:background 200ms ease-in-out;
        -ms-transition:background 200ms ease-in-out;
        -o-transition:background 200ms ease-in-out;
        transition:background 200ms ease-in-out
    }
        #news-items .item:hover {
            background: rgba(100, 100, 200, 0.3);
        }

        #news-items .item:first-child {
        }

        #news-items .item:last-child {
            margin-right: 0;
        }

        #news-items .item h3 {
            margin: 0 0 8px 0;
            padding: 0;
            font-size: 1.5em;
            text-align: center;
        }

        #news-items .item p {
            padding: 0 20px;
            font-size: 1.1em;
            font-weight: 100;
            margin: 0;
            display: block;
            text-align: center;
            vertical-align: middle;
        }


.boxpanel h2 {
    color: white;
    font-family: sans-serif;
    font-size: 4em;
    font-weight: 600;
    padding-left: 2%;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.untouchable *::selection {
    background-color: transparent;
}

*::selection {
    color: inherit;
    background: #4288ca;
}

.boxpanel.current h2 {
    visibility: visible;
}
#sermons-content{
    width:100%;
}
#services-panel {
    box-shadow: none;
}

div.sermons-container {
    background: #346;
}

div.sermons {
    background: white;
    border-bottom: 5px solid #339;
    box-shadow:0 3px 3px 0 rgba(1, 1, 1, 0.1);
    margin: 20px auto 20px;
    min-height: 474px;
    width: 95%;
}

    div.sermons .side-bar {
        display: inline-block;
        float: left;
        height: 470px;
        overflow-y: auto;
        width: 36%;
    }

        a.sermon-link {
            margin: 0;
            padding: 0;
            color: inherit;
            outline: 0;
            text-decoration: none;
        }

        .sermon-item {
            background: white;
            cursor: pointer;
            padding: 5px 15px;
            transition: all 100ms linear;
        }
            .sermon-item:first-child {
                margin-top: 8px;
            }

            .sermon-item:last-child {
                margin-bottom: 8px;
            }

            .sermon-item:hover {
                background: #ddd;
            }

            .sermon-item.active {
                background: #579;
            }

                .sermon-item.active h3,
                .sermon-item.active p{
                    color: white;
                }
                    
            .sermon-item img {
                border: 2px solid white;
                vertical-align: top;
            }

            .sermon-item .text {
                display: inline-block;
            }

            .sermon-item p {
                font-size: 1em;
                padding-top: auto;
                padding-left: 10px;
            }

                .sermon-item p.title {
                    font-weight: 700;
                }

                .sermon-item p.speaker {
                }

    div.sermons .focus {
        display: inline-block;
        float: right;
        height: 460px;
        overflow-y: hidden;
        width: 63%;
    }

        .focus .player {
            height: 90%;
            overflow-y: hidden;
            padding: 8px 0 0;
            width: 100%;
        }
            .player video {
                display: none;
                margin: 0;
                padding: 0;
            }

            .player img {
                cursor: pointer;
            }

        .focus h1 {
            cursor: pointer;
            display: inline-block;
            float: left;
            font-size: 1.8em;
            margin: 0;
            padding: 18px 2px;
        }

        .focus p.controls {
            cursor: pointer;
            display: inline-block;
            float: left;
            font-size: 16px;
            margin: 0 21px;
            outline: 0;
            padding: 18px 0 0 0;
        }
            .controls span {
                border-radius: 100%;
                color: #346;
                margin-right: 8px;
                outline: 0;
                padding: 4px;
                transition: all 100ms linear;
            }

                .controls span:hover {
                    background: #346;
                    color: white;
                }

        .focus p.details {
            display: inline-block;
            float: right;
            font-size: 12px;
            margin: 0 2px;
            padding: 20px 0 0 0;
        }


 /******Login****/
#login-loading{
    display: none;
}
/***********************************************************************Articles************************************************************************/

#locationLauncher {
    cursor: pointer;
}
#updates-page div.row {
    margin-left: 5%;
    margin-right: 5%;
}

@font-face {
    font-family: 'ecoico';
    src:url('../fonts/timelineicons/ecoico.eot');
    src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
        url('../fonts/timelineicons/ecoico.woff') format('woff'),
        url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
        url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
    font-weight: normal;
    font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
    cursor: default;
    text-decoration: none;
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    right: 12%;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    right: 6%;
    padding-left: 21%;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: left;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 1.0em;
    color: #aaa;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.0em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    text-decoration: none;
    margin: 0 16% 15px 0;
    background: #39C;
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 4px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #75c5ea;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin-top: 0px;
    font-size: 1.8em;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    display: none;
    right: 96%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 16px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-left-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 17px;
    height: 17px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.8em;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 4.5px #afdcf8;
    text-align: center;
    right: 12%;
    top: 19px;
    margin: 0 -0.4% 0 0;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
    }   
}

h1.heading {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    font-family: "AvenirLTStd-Roman", sans-serif;
    color: #334;
    border-bottom: 1px solid #EEE;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.article {
    margin-bottom: 20px;
    border-bottom: 0.4px solid #EEE;
    padding: 15px 0;
}

    div.article h2 a {
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        color: #722;
        cursor:pointer;
        font-size: 25px;
        text-decoration: none;
    }
        div.article h2:hover {
            text-decoration: underline;
        }

    div.article h4 {
        font-size: 15px;
    }
        div.article h4 small {
            font-size: 14px;
            padding-left: 5px;
        }

div.article-view {
    margin-left: 5%;
    width: 90%;
}

    div.article-view #article-data {
        font-size: 14px;
        padding-bottom: 20px;
    }
        div.article-view #article-data p {
        }

